[Unit]
Description=git cockpit

[Service]
ExecStart=/usr/bin/node /usr/bin/git-cockpit
Restart=never
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=git-cockpit
User=cookiengineer
Group=wheel

[Install]
WantedBy=multi-user.target

