SUBSYSTEM=="backlight", ACTION=="add", RUN+="/bin/chgrp wheel /sys/class/backlight/%k/brightness", RUN+="/bin/chmod g+w /sys/class/backlight/%k/brightness"

