[Unit]
Description=Glance Dashboard
After=network.target

[Service]
Type=simple
User=glance
Group=glance
WorkingDirectory=/home/glance
ExecStart=/home/glance/glance --config config.yml;
Restart=on-failure
RestartSec=10s
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
