[Unit]
Description=Barrier Client
After=network.target

[Service]
# ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/barrierc --no-daemon weep
ExecStartPre=/usr/bin/echo "" > /dev/tcp/192.168.0.10/24800
Restart=always
RestartSec=30

[Install]
WantedBy=default.target

