[Unit]
Description=Barrier Client
After=network.target

[Service]
# ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/barrierc --no-daemon weep
Restart=always
RestartSec=5

[Install]
WantedBy=default.target

