[Unit]
Description=Barrier Client
After=network.target

[Service]
# ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/barrierc --no-daemon ryzzy
ExecStartPre=/usr/bin/echo "" > /dev/tcp/192.168.0.12/24800
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

