[Unit]
Description=Prevent suspend in case of activity
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/auto-sleep

[Install]
RequiredBy=sleep.target

